*{

    font-family: 'Nanum Gothic', sans-serif;
}

body{

    background-color: rgb(13, 177, 210);

}
/* Jumbotron */
.example-wrapper { 
    margin: 1em auto; 
    max-width: 800px; 
    width: 95%; 
    font: 18px/1.5 
    sans-serif; 
}

.jumbotron{
    background-color: whitesmoke;
    color: black;
    width: 65%; 
    margin: auto; 
    padding:15px;
}
h1{
    color:rgb(0, 0, 0);
}

.miniature{

    max-width: 80px;
    height: auto;

}


hr{

    height: 20px;
    background-color: black;

}

.pagination{

    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    justify-content: center;

}

#btn{

    border-radius: 4px;
    flex-grow: 1;
}


table {
    background-color: white;
    font-weight: bold;
}