{% extends 'base.html.twig' %}

{% block title %}Ajouter un artiste{% endblock %}

{% block body %}

<h1 class="pt-2 text-center" style="color:white">Ajouter un artiste</h1>
<br>
{{form(formArtiste)}}

{% endblock %}
